<div>
  <span class="loading">
    <mat-spinner diameter="140" id="loading">Loading...</mat-spinner>
  </span>
</div>
<div style="display: block;" *ngIf="flag==true">
  <canvas width="350" height="350" baseChart [data]="pieData" [labels]="pieChartLabels" [chartType]='pieChartType'
    [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">></canvas>
</div>

<table class="table" *ngIf="flag==true" matSort (matSortChange)="sortData($event)">
  <thead>
    <tr>
      <th mat-sort-header="name">State</th>
      <th mat-sort-header="confirmed">Confirmed</th>
      <th mat-sort-header="active">Active</th>
      <th mat-sort-header="deceased">Deceased</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of state_data;" class='states'>
      <span [ngClass]="{'disabled':item.state === 'Total'}">
        <td routerLink='/state' routerLinkActive="router-link-active"
          [queryParams]='{name: item.state, active: item.active,deaths: item.deaths,recovered:item.recovered}'>
          {{item.state}}
        </td>
        <mat-icon *ngIf="item.statenotes!==''" class="info" tooltip={{item.statenotes}} autoPlacement=true>info
        </mat-icon>
      </span>
      <td>{{ item.confirmed }}
        <span *ngIf="item.deltaconfirmed!=='0'" class="dailyIncrease">(+{{item.deltaconfirmed}})</span>
      </td>
      <td>{{ item.active }}</td>
      <td>{{ item.deaths }}
        <span *ngIf="item.deltadeaths!=='0'" class="dailyIncrease">(+{{item.deltadeaths}})</span>
      </td>
    </tr>
  </tbody>
</table>
<router-outlet></router-outlet>
