<div>
  <span class="loading">
    <mat-spinner diameter="140" id="loading">Loading...</mat-spinner>
  </span>
</div>
<h1>{{state_name}}</h1>
<div style="display: block" *ngIf="flag==true">
  <canvas width="350" height="350" baseChart [data]="pieData" [labels]="pieChartLabels" [chartType]='pieChartType'
    [options]="pieChartOptions" [colors]="pieChartColors" [legend]="pieChartLegend">></canvas>
</div>
<table class="table" *ngIf="flag==true" matSort (matSortChange)="sortData($event)">
  <thead>
    <tr>
      <th mat-sort-header="name">District</th>
      <th mat-sort-header="confirmed">Confirmed</th>
      <th mat-sort-header="active">Active</th>
      <th mat-sort-header="deceased">Deceased</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of arr;" class="states">
      <td>{{item.district}}</td>
      <td>{{ item.confirmed }}</td>
      <td>{{ item.active }}</td>
      <td>{{ item.deceased }}</td>
    </tr>
  </tbody>
</table>
